.square {
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  border: none;
  border: transparent solid 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    pointer-events: none;
    width: 90%;
    height: 90%;
  }
}

.square.nonInteractive {
  width: 40px;
  height: 40px;
}
.square.nonInteractive:hover {
  cursor: default;
  border-color: transparent;
  filter: none;
}

.square.white {
  background-color: #b8aaaa;
}
.square.black {
  background-color: #444444;
}

.square:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.5rem #d6ff64);
  z-index: 10;
}

.square.clicked {
  border-color: rgb(31, 219, 137);
  filter: drop-shadow(0 0 1rem rgb(31, 219, 137));
  transition: border-color 0.3s, filter 0.3s;
  z-index: 20;

  img {
    rotate: 7deg;
    transform: scale(1.1);
    transition: rotate 0.3s, transform 0.3s;
  }
}

.square.notClicked {
  border-color: transparent;
  filter: none;
  transition: border-color 0.3s, filter 0.3s;

  img {
    rotate: none;
    transform: none;
    transition: rotate 0.3s, transform 0.3s;
  }
}

.boardContainer {
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  gap: 0;
  border: black 10px solid;
}

.boardHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
