.square {
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  border: none;
  border: transparent solid 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    pointer-events: none;
    width: 90%;
    height: 90%;
  }
}

.square.white {
  background-color: #b8aaaa;
}
.square.black {
  background-color: #444444;
}

.square:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.5rem #d6ff64);
  z-index: 10;
}

.square.clicked {
  border-color: rgb(31, 219, 137);
  filter: drop-shadow(0 0 1rem rgb(31, 219, 137));
  transition: border-color 0.3s, filter 0.3s;
  z-index: 20;

  img {
    transform: scale(1.1);
    rotate: 4deg;
    transition: rotate 0.4s, transform 0.3s;
  }
}

.square.notClicked {
  border-color: transparent;
  filter: none;
  transition: border-color 0.3s, filter 0.3s;

  img {
    rotate: none;
    transform: none;
    transition: rotate 0.3s, transform 0.3s;
  }
}

.boardContainer {
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  border: black 10px solid;
}

.boardHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 4rem;
  font-size: 20px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    img {
      height: 50px;
      width: 50px;
    }
  }
}
