.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.form {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 2.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  gap: 1.2rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.8rem
}

.formGroup label {
  display: block;
  margin-bottom: 0.2rem;
  margin-left: 0.1rem;
  font-size: 0.9rem;
  font-weight: 550;
  color: #7d7d7d;
}

.formGroup input:-webkit-autofill,
.formGroup input:-webkit-autofill:hover,
.formGroup input:-webkit-autofill:focus,
.formGroup input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset !important;
  -webkit-text-fill-color: #333 !important;
}

.formGroup input:focus {
  outline: none;
  border-color: #ddd;
  background-color: #f3f3f3;
}

.normalInput {
  padding: 0px;
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #ddd;
  color: #333;
}

.inputError{
  padding: 0px;
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ff9f9f;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #f3f3f3;
  color: #333;
}

.buttonGroup {
  display: flex;
  gap: 0.5rem;
}

.createAccount {
  background-color: #154bde;
}

.login {
  background-color: #154bde;
}

.login, .createAccount {
  width: 100%;
  padding: 0.8rem;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login:disabled, .createAccount:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.login:disabled:hover, .createAccount:disabled:hover {
  background-color: #6c757d;
  cursor: not-allowed;
}

.createAccount:hover {
  background-color: #0e2e88;
}

.login:hover {
  background-color: #0e2e88;
}

.createAccount:disabled .login:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.error {
  color: #dc3545;
  padding: 0.7rem;
  background-color: #f8d7da;
  border: 1px solid #f5aab1;
  border-radius: 6px;
  font-size: 1rem;
  height: 45px;
}